<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invoices managment</title>
</head>
<body>
    <H1>Welcome into invoices management page</H1>

        <ul>
            <li><a href="create-form">Add an invoice</a></li>
        </ul>
    <table>
        <tr th:each="invoice: ${invoices}">
            <td>
                <a th:href="${invoice.number}" th:text="${invoice.number}"/>
            </td>
            <td th:text="${invoice.customerName}"></td>
        </tr>
    </table>

</body>
</html>